{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "@pages": "./src/pages",
            "@components": "./src/components",
            "@navigation": "./src/navigation",
            "@state": "./src/state",
            "@services": "./src/service",
            "@utils": "./src/util"
          }
        }
      ]
    ]
  }
  